<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Todo</title>
</head>
<body>
  <div class="app">
    <form action="/new" method="GET" >
      <input type="submit" value="Add Todo" class="btn btn-1"/>
    </form>
    <div class="app">
      <ul class="todo-list-container">
        <% if(todos) { %> 
          <% todos.forEach(val => { %>
            <li class="list" id={<%= val._id %>}>  
              <a href=<%= '/todos/' + val._id  %>>  <%= val.title %> </a>
              <!-- for delete button -->
              <form action=<%= '/todos/'+ val._id + '/delete' %> method="GET" class='delete'>
                <input name="method" type="hidden" value="DELETE">
                <button type="submit" class="del__btn"><i class="fas fa-trash"> </i> </button>
              </form>
              <!-- for edit button -->
              <a href=<%= '/todos/'+ val._id + '/edit' %>>  <i class="fas fa-edit edit"></i> </a>
            </li>
          <% }); %>
        <% } else { %>
          <li> Add a New Todo </li>
        <% } %>          
      </ul>
    </div>
  </div>
</body>
</html>